<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
	<title th:text="${web.wname}"></title>
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link th:href="@{~/font/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{~/css/style.css}">
</head>
<body>
	<div id="site-content">
		<header th:replace="~{./navigation_bar_layout :: header}"></header>
		<main class="main-content">	
			<div class="container">
				<div class="page">
					<div class="breadcrumbs">
						<a th:href="@{/index}">Home</a>
						<span>Admin</span>
						<!-- <span th:text="${film.fname}"></span> -->
					</div>
				</div>
				<div class="main-content form-group">
        			<h2>Utilmate Feature</h2>
        			<div id="groupAdmin">
        				<a th:href="@{/admin/accountManager}" class="btn btn-outline-primary btn-block btn-lg">Account Manager</a>
        				<a th:href="@{/admin/filmManagerAdvance?searchCondition=}" class="btn btn-outline-warning btn-block btn-lg">Film Manager Advance</a>
        				<a th:href="@{/admin/countryManager}" class="btn btn-outline-success btn-block btn-lg">Country Manager</a>
        				<a th:href="@{/admin/categoryManager}" class="btn btn-outline-danger btn-block btn-lg">Category Manager</a>
        				<a th:href="@{/admin/webManager}" class="btn btn-outline-dark btn-block btn-lg">Web Manager</a>
        			</div>
        			
        			<!-- <div class="btn btn-primary float-right">Create New Account</div>
        			<table class="table table-striped" id="tableId">
  						<thead class="thead-dark">
    						<tr>
      							<th scope="col">#</th>
      							<th scope="col">Email</th>
      							<th scope="col">User name</th>
      							<th></th>
      							<th></th>
    						</tr>
  						</thead>
  						<tbody>
    						<tr th:each="user,status : ${listUser}">
      							<th scope="row" th:text="${status.index + 1}"></th>
      							<td th:text="${user.email}"><span ></span></td>
      							<td th:text="${user.uname}"></td>
      							<td hidden="hidden" th:text="${user.user_id}"></td>
      							<td><div class="btn btn-warning btn-sm">Update</div></td>
      							<td><div class="btn btn-danger btn-sm">Delete</div></td>
    						</tr>
  						</tbody>
					</table> -->
    			</div>
			</div>
		</main>
		<footer th:replace="~{./footer_layout :: footer}"></footer>
	</div>
	<script th:src="@{~/js/jquery-1.11.1.min.js}"></script>
	<script th:src="@{~/js/plugins.js}"></script>
	<script th:src="@{~/js/app.js}"></script>
	<script type="text/javascript">
			$( document ).ready(function() {
		    	$('#accountmanager').addClass('current-menu-item');
			});
		</script>
</body>
</html>