<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
	<title th:text="${web.wname}"></title>
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link th:href="@{~/font/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{~/css/style.css}">
</head>
<body>
	<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="widget">
								<h3 class="widget-title">About Me</h3>
								<p>Truong Hoang Duong, Studen of PTIT HCM, Fresher of FPT Software</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="widget">
								<h3 class="widget-title">Social Media</h3>
								<ul class="no-bullet">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Skype</a></li>
									<li><a href="#">Google+</a></li>
								</ul>
							</div>
						</div>
					</div> 
					<div class="colophon">Copyright 2020 DuongTH7, Designed by Themezy. All rights reserved</div>
				</div> <!-- .container -->

			</footer>
</body>
</html>